.home {
  padding: 0;
}

.i-name {
  margin: 0;
  padding: 0;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/public/home_intro.jpg');
  background-size: cover;
  background-position: center;

}

.i-name-text {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 100px;
}

.i-name-text h1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
}

.i-name-color {
  color: #be00ed;

}

.i-name-text p {
  text-align: center;
  padding: 50px 10px 0 10px;
  font-size: 20px;
  font-weight: normal;
  width: 500px;
  color: #ffffff;
}

.my_services {
  margin: 0;
  padding: 0;
  height: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url('/public/keyboard.jpg');
  background-size: cover;
  background-position: center;
}

.services_text {
  margin: 100px;
}

.services_text p {
  padding: 0 10px 0 10px;
  font-size: 18px;
  font-weight: normal;
  width: 600px;
  color: #ffffff;
}

.services_text h1 {
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
}


.btn {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
}

.btn {
  margin: 0 15px;
  width: 300px;
  height: 60px;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #ca3c87 0%, #8d1b95 100%);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 18px;
  color: white;
}

.btn:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.btn:active {
  opacity: 0.5;
}

.services_info {
  margin: 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.cardholder {
  display: flex;
  justify-content: space-between;
}

#card3 {
  align-self: center;
}

.card {
  margin: 30px;
  position: relative;
  width: 200px;
  height: 250px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 190px;
  height: 240px;
  z-index: 2;
  background: rgba(255, 255, 246);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ff34e4;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

.card_text {
  z-index: 3;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card_text ul {
  display: contents;
}

.social_icons {
  padding: 20px;
}

.i-icons a img {
  height: 70px;

}

.contact {
  margin: 0;
  padding: 0;
  height: 800px;
  display: flex;
  align-items: center;
  background-image: url('/public/third_pic.jpg');
  background-size: cover;
  background-position: center;
}

.contact_text {
  padding: 100px;
}

.contact_text h1 {
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
}

.form-container {
  margin: 0 70px;
  width: 50%;
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 94%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 94%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}


@media(max-width: 1350px) {
  .services_text {
    margin: 50px;
  }
}

@media(max-width: 1200px){

  .my_services{
    flex-direction: column;
    height: 100%;
    padding: 100px;
    align-items: flex-start;
  }

  .services_info{
    margin: 100px;
    align-items: center;
  }
  .cardholder{
    width: fit-content;
  }
  .contact{
    height: 100%;
    flex-direction: column;
  }
  .form-container{
    margin: 0 0 100px 0;
  }
}

@media(max-width: 800px){

  .my_services{
    padding: 70px;
  }

  .services_info{
    width: -webkit-fill-available;
    margin: 50px 0;
  }

  .services_text p{
    width: 500px;
  }
}

@media(max-width: 700px){
  .i-name{
    height: max-content;
  }

  .i-name-text h1{
    width: max-content;
  }

  .i-name-text{
    width: 400px;
  }

  .i-name-text p{
    width: 400px;
    margin: 50px 30px;
  }

  .social_icons{
    padding: 0;
  }

  .i-icons{
    margin: -20px 30px 0 10px;
    width: 300px;
    display: flex;
    justify-content: space-around;
  }

  .my_services{
    align-items: flex-start;
    height: max-content;
  }

  .services_text{
    margin: 100px 50px 0px 50px;
    width: 400px;
  }

  .services_text h1{
    width: max-content;
    font-size: 36px;
  }

  .services_text p{
    color: #ffffff;
    font-weight: normal;
    margin: 0 10px;
    width: 300px;
  }

  .social_icons{
    padding: 0;
  }
  
  .i-icons{
    margin: -20px 30px 0 10px;
    width: 300px;
    display: flex;
    justify-content: space-around;
  }

  .services_info{
    width: -webkit-fill-available;
    margin-top: 50px;
  }

}

@media(max-width: 600px){

  .i-name-text p{
    width: 300px;
    margin: 50px 30px;
  }

  .cardholder{
    flex-direction: column;
  }

  .services_text {
    width: 350px;
  }
  
}

@media(max-width: 500px){
  .i-name{
    padding: 150px 0 50px 0;
    background-position: 60%;
    height: max-content;
  }

  .i-name-text{
    padding: 20px;
    width: 100px;
  }

  .i-name-text h1{
    width: max-content;
    font-size: 36px;
    margin: 0 30px;
  }

  .i-name-text p{
    padding: 0;
    font-weight: normal;
    width: 300px;
    margin: 50px 30px;
  }

  .social_icons{
    padding: 0;
  }
  
  .i-icons{
    margin: -20px 30px 0 10px;
    width: 300px;
    display: flex;
    justify-content: space-around;
  }

  .my_services{
    padding: 50px;
    align-items: flex-start;
    height: max-content;
  }

  .services_text{
    margin: 100px 0px 0px 0px;
    width: 100px;
  }

  .services_text h1{
    width: max-content;
    font-size: 36px;
  }

  .services_text p{
    color: #ffffff;
    font-weight: normal;
    margin: 0 10px;
    width: 300px;
  }

  .cardholder{
    flex-direction: column;
  }
  
  .btn{
    margin: 30px 0px 30px 0;
  }

  .services_info{
    width: -webkit-fill-available;
    margin-top: auto;
  }

  .contact_text{
    padding: 50px;
  }

  .contact_text h1{
    font-size: 36px;
  }

  .form-container{
    width: 80%;
  }
}