.n-wrapper {
  margin: 0;
  padding: 0;
  height: 100px;
  width: 100%;
  background: none;
  display: flex;
  justify-content: space-between;
}

.n-left {
  margin: 10px 10px;
  display: flex;
  align-items: center;
}

.n-right {
  margin: 10px 10px;
  display: flex;
  align-items: center;
}

.n-name {
  font-weight: bold;
  margin: 0 15px;
}

.n-list {
  display: flex;
}

ul {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.n-wrapper .n-right .n-list ul li {
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.n-wrapper .n-right .n-list ul .active a h3 {
  color: #BE00ED;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10rem;
  transition: all 0.02s;
  font-weight: bold;
  color: rgb(37, 37, 37);
  z-index: 0;
  box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}

.button:hover {
  background: rgb(193, 228, 248);
  color: rgb(33, 0, 85);
}

.button:active {
  transform: scale(0.97);
}

.hoverEffect {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hoverEffect div {
  background: rgb(222, 0, 75);
  background: linear-gradient(90deg, rgba(222, 0, 75, 1) 0%, rgba(191, 70, 255, 1) 49%, rgba(0, 212, 255, 1) 100%);
  border-radius: 40rem;
  width: 10rem;
  height: 10rem;
  transition: 0.4s;
  filter: blur(20px);
  animation: effect infinite 3s linear;
  opacity: 0.5;
}

.button:hover .hoverEffect div {
  width: 8rem;
  height: 8rem;
}

@keyframes effect {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media(max-width: 1000px){
  .n-right{
    display: none;
  }
  .n-right-small{
    color: #f9efff;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    margin: 40px;
  }
}

.n-right-small{
  display: none;
}

.menuTab{
  display: none;
  position: fixed;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 350px;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.7);
  backdrop-filter: blur(8px);
}

.menuTab ul{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.menuTab ul li{
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  width: 250px;
  text-align: right;
  padding: 15px 0;
  border-bottom:  2px solid #000000;
  
}

.menuTabOpen{
  display: block;
}

.customMenuIconClose{
  display: none;
}

