*{
  /* align-items: center; */
  color: black;
  font-family: 'D-DIN', Arial, Verdana, sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'D-DIN';
  font-weight: bolder;
  src: url('/public/D-DIN.ttf')format('truetype');
}