*{
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'D-DIN', Arial, Verdana, sans-serif;
}

body{
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'D-DIN';
  font-weight: bolder;
  src: url('/public/D-DIN.ttf')format('truetype');
}

@media(max-width: 800px){
  /* body{
    width: fit-content;
  } */

  *{
    width: auto;
  }
}